/* *{
   background-color: black;
   color:red;
} */

/* div{
    background-color: red;
} */


/* div,p{
    color: black;
    background-color: black;
} */


/* div p{
    color: red;
    
} */
.link_hover:visited{
    background-color: red;
    color: red;
}
.table_class{
    background-color: red;
}

#form_id{
    background-color: red;
}

